
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header{
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: auto;
}

.navbar{
    background-color: #fde7da;
}

.navbar-brand{
    font-family: cursive;
    color:black;
    font-weight: bolder;
    font-size: larger;
}

.navbar-brand:hover{
    color: #ff008c;
}

.navbar-toggler-icon{
    background-color: #333;
}

.nav-item{
    margin-right:10px;
}

.nav-link{
    color:rgba(30, 25, 25, 0.891);
}

.nav-link:hover{
    color:#ff008c;
}

.form-control{
    border-color:#333;
}

/* .btn-outline-success{
    color:#333;
    border-color:#333;
}

.btn-outline-success:hover{
    color:#fff;
    background-color: #333;
} */